*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
header,
button,
p{
    background-color: #fff;
}

header form,
.color-container{
    display: flex;
}

header form{
   align-items: center;
   justify-content: space-between;
   padding: 10px;
}
header{
    width: 100%;
}

.color-mode {
    border: 1px solid #ccc;
    background-color: #fff;
  }
  .color-mode:hover,
  button:hover {
    background-color: #e6e6e6;
  }
  
  .color-mode:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  }
  
button{
    padding: 0px 6px;
    border: none;
}

button:active{
    background-color: rgb(61, 97, 97);
}
select{
    padding: 0px 40px;
}

select, button{
    
    border: 1px solid gray;
    padding-top:6px;
    padding-bottom: 6px;
    border-radius: 5px;
    cursor: pointer;
}


input[type="color"] {
    -webkit-appearance: none;
     width: 60px;
     height: 30px;
     border: none;
 }
 input[type="color"]::-webkit-color-swatch-wrapper {
     padding:5px;
     background-color: rgb(226, 226, 226);
 }
 input[type="color"]::-webkit-color-swatch {
     border: none;
 }

.color-container div img{
    width: 100%;
    height: 85vh; 
    display:  block;
}
.color-container{
   gap: 1px;
}

p{
    text-align: center;
    padding: 20px 0px;
}

.swal2-popup {
    width: 400px !important;
  }

@media (max-width: 478px) {
    header, .color-container div img{
        width: 100%;
    }
    button {
        padding: 6px 3px;
        background-color: red;
    }
    select {
        padding: 6px 15px;
    
    }

    .swal2-popup {
        width: 200px !important;
        font-size: 11px !important;
    }
}

@media (min-width:768px){
    header form{
        justify-content: space-around;
    }
    select{
        padding: 6px 80px;
    }
    .color-mode,
    button{
        font-size: 16px;
    }

}


